/**
 *
 * t - applies the spacing for padding-top
 * b - applies the spacing for padding-bottom
 * l - applies the spacing for padding-left
 * r - applies the spacing for padding-right
 * x - applies the spacing for both *-left and *-right
 * y - applies the spacing for both *-top and *-bottom
 * a - applies the spacing for the property in all directions

 * @param {Array<name,value>[]} measure-list - postfix name and value
 */
@mixin create-helper-padding(
  $measure-list: (),
  $important: false,
  $prefix: ""
) {
  $important-suffix: "";
  @if $important == true {
    $important-suffix: " !important";
  }
  @each $name, $val in $measure-list {
    .#{$prefix}pt-#{$name} {
      padding-top: #{$val}#{$important-suffix};
    }
    .#{$prefix}pb-#{$name} {
      padding-bottom: #{$val}#{$important-suffix};
    }
    .#{$prefix}pl-#{$name} {
      padding-left: #{$val}#{$important-suffix};
    }
    .#{$prefix}pr-#{$name} {
      padding-right: #{$val}#{$important-suffix};
    }
    .#{$prefix}px-#{$name} {
      padding-right: #{$val}#{$important-suffix};
      padding-left: #{$val}#{$important-suffix};
    }
    .#{$prefix}py-#{$name} {
      padding-top: #{$val}#{$important-suffix};
      padding-bottom: #{$val}#{$important-suffix};
    }
    .#{$prefix}pa-#{$name} {
      padding: #{$val}#{$important-suffix};
    }
  }
}
